* {
    padding: 10px;
}

#container {
    margin-top: 20px;
    background-color: rgba(209, 7, 7, 0.712);
    border-radius: 20px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    padding: 3px;
    margin: 10%;
}